.app-header {
    /* padding: 20px; */
    /* background-color: rgba(255, 255, 255, 0.205); */
    /* color: rgb(243, 218, 107); */
    /* font-family: fantasy; */
    /* margin-bottom: 20px; */
    min-height: 10vh;
    /* border: 1px solid gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eef0f2;
    width: 100vw;
    /* margin: 20px; */

}

.app-header a {
    text-decoration: none;
    color: rgb(69, 68, 68);
    margin: 10px;
    /* font-size: 1.5rem; */
}

.app-header input{
    padding: 10px 20px;
    font-size: 1.5rem;
    /* color: white; */
    background-color: #f1f3f4;
    border: none;
    transition: ease-in-out .3s;
    outline: none;
    border-radius: 10px;
    flex-grow: 1;
    margin-left: 25px;
}

.app-header input:hover{
    -webkit-box-shadow: 10px 9px 17px -10px rgba(0,0,0,0.78); 
    box-shadow: 10px 9px 17px -10px rgba(0,0,0,0.78);
}

.logo{
    width: 70px;
    padding-left: 25px;
}

.btn-menu {
    visibility: hidden;
}


@media (max-width: 780px) {
    .btn-menu {
        cursor: pointer;
        visibility: visible;
        font-size: 2rem;
        border: none;
        /* background-color: lightsalmon; */
    }
    .main-nav {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
        height: 100vh;
        background-color: rgba(90, 87, 87, 0.6);
        transform: translateX(100%);
        transition: transform 1s;
    }
    .main-nav i {
        padding: 2rem;
        border-right: none;
    }
    .menu-open .main-nav {
        z-index: 2;
        transform: translateX(0);
    }
    .menu-open .screen {
        background-color: rgba(146, 146, 146, 0.5);
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
    }
    .app-header input{
        padding: 5px 5px;
        margin: 0px;
        font-size: 1.2rem;

    }
    .logo {
        width: 50px;
        padding: 5px;
    }
}
/* 4rem 2rem 1rem */