@import './cmps/note-img.cmp.css';
@import './cmps/note.cmp.css';
@import './cmps/note-todos.cmp.css';
@import './cmps/add-note.cmp.css';
@import './cmps/note-video.cmp.css';
@import './cmps/notes-list.cmp.css';
@import './cmps/note-edit.cmp.css';
@import './cmps//note-audio.cmp.css';

.main-notes-container {
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main-notes-container h1 {
    text-align: center;
    margin-bottom: 3vh;
}

.no-notes-msg {
    text-align: center;
}