.add-note {
    background-color: #f1f3f4;
    border-radius: 5px;
    text-align: center;
    display: inline-flex;
}
@media (max-width: 800px) {
    .add-note {
        flex-wrap: wrap;
        padding: 0px;
    }
}

@media (max-width: 420px) {
    .add-note .input-title {
        width:100%;
    }
    .add-note .input-txt {
        width: 100%;
    }
}


.add-note > .fa-2x{
    padding: 55px;
}

.add-note .input-title {
    width: 40%;
    /* padding: 10px */
    margin: 10px;
}

.add-note .input-txt {
    width: 60%;
    margin: 10px;
    /* padding: 5px */

}

.add-note  button{
    border: none;
    margin: 10px;
}
.add-note input{
    border: none;
}

.add-btn {
    font-weight: bold;
    background-color: #014dcb;
    color: white;
}
.add-note i {
    color: rgb(182, 182, 182);
}
.add-btn i{
color: white;
}

.add-note .chosen i {
    color: black;
}
