.color-palette {
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    bottom: 6vh;
    left: 50%;
}


.color-palette span {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    border: 0.5px solid gray;
}