.notes-list {
    /* padding: 0; */
    columns: 3;
}

.notes-list .pinned-container p {
    margin: 1em;
    font-style: italic;
}

.notes-list-hr {
    background-color: #eef0f2;
}

@media (max-width: 650px) {
    .notes-list {
        columns: 2;
    }
}

@media (max-width: 420px) {
    .notes-list {
        columns: 1;
    }
}