.note {
    padding: 10px;
    /* background-color: rgb(241, 241, 156); */
    max-width: 320px;
    margin: 10px;
    display: inline-block;
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
}

.note option div {
    width: 20px;
    height: 20px;
    background-color: red;
}