.note-edit {
    text-align: center;
    background-color: #f1f3f4;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.note-edit .done-btn {
    background-color: #014dcb;
    color: white;
    border: none;
}



/* .add-note > .fa-2x{
    padding: 55px;
} */

.note-edit .input-title {
    width: 20%;
    margin: 10px;
    padding: 6px 2px;
}

.note-edit .input-txt {
    width: 80%;
    margin: 10px;
    padding: 6px 2px;

}

.note-edit > button{
    border: none;
    margin: 10px;
}

.note-edit button {
    font-weight: bold;
    background-color: #014dcb;
    color: white;
}
.add-note i {
    color: rgb(182, 182, 182);
}
.add-btn i{
color: white;
}
