.notes-list {
    padding: 0;
    columns: 3;
}
.notes-list li{
    padding: 0px;
    margin: 0px;
}

.pinned-title {
    margin: 1em;
    font-style: italic;
}

.notes-list-hr {
    background-color: #eef0f2;
}

@media (max-width: 800px) {
    .notes-list {
        columns: 2;
    }
    .notes-list{
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 420px) {
    .notes-list {
        columns: 1;
    }

}