.note {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
    width: 30vw;
}

@media (max-width: 650px) {
    .note {
        width: 45vw;
    }
}

@media (max-width: 420px) {
    .note {
        width: 90vw;
    }
}

.note:hover {
    cursor: pointer;
}

.note .color {
    margin-left: -26px;
    opacity: 0;
    position: absolute;
    width: 2%;
}
.note .color:hover {
    cursor: pointer;
}
.note i:hover {
    cursor: pointer;
}

.note i {
    margin: 2px;
    padding: 5px;
}

.note .icons {
    float: right;
}

.pinned {
    background-color: rgb(201, 195, 195);
    border-radius: 5px;
}

.pinnedNote {
    border: 3px solid gray;
}