.note-edit {
    text-align: center;
    background-color: #f1f3f4;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    z-index: 10;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    min-height: 10em;
    width: 90%;
    border: 1px solid #014dcb;
    display: flex;
    flex-direction: column;
}

.note-edit .done-btn {
    height: 10%;
    background-color: #014dcb;
    color: white;
    border: none;
    align-self: center;
}

.note-edit .input-title {
    width: 100%;
    margin: 10px;
    height: 10%;
    padding: 6px 2px;
    align-self: center;
}

.note-edit .input-txt {
    width: 100%;
    margin: 10px;
    height: 10%;
    padding: 6px 2px;
    align-self: center;
}

.note-edit>button {
    border: none;
    margin: 10px;
}