.note {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border: 1px solid gray;
    color: black;
    border-radius: 10px;
    width: 30vw;
    font-size: 1.2em;
}

.note:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.note:hover {
    cursor: pointer;
}

.note .color {
    margin-left: -26px;
    opacity: 0;
    position: absolute;
    width: 2%;
}

.note .color:hover {
    cursor: pointer;
}

.note i:hover {
    cursor: pointer;
}

.note i {
    margin: 2px;
    padding: 5px;
}

.note .icons {
    float: right;
}

.pinned {
    transform: rotate(45deg);
}

.pinnedNote {
    border: 3px solid gray;
}

.note-title {
    font-weight: bold;
    margin-bottom: 0.5em;
}

@media (max-width: 650px) {
    .note {
        width: 45vw;
    }
}

@media (max-width: 420px) {
    .note {
        width: 90vw;
    }
}