.done {
    text-decoration: line-through;
}

.todo:hover {
    cursor: pointer;
}

.todo-list {
    list-style: circle;
    margin-bottom: 20px;
    text-align: left;
}

.note ul {
    padding-left: 20px;
}

.note p {
    margin-top: 0.3em;
}
