.email-details{
    text-align: left;
    padding: 0px 30px 30px 30px;
    margin: 0 auto;
    
    /* min-width: 100%; */
}
.email-details span{
    display: flex;
}

.email-subject{
    font-size: 1.5rem;
    padding: 20px;
}

.email-to-details{

    padding-bottom: 30px;
}
.email-details-tool-bar{
    border-bottom: 1px solid #eef0f2;
    min-height: 50px;
}

.email-details-tool-bar button{
    border: none;
    vertical-align: bottom;
    /* font-size: 1.5rem; */
}

.email-details-contact-image{
    border-radius: 50px;
    display: inline-block;
    background-color: #f5f5f5;
    padding: 10px;
    color: #cccccc;
    margin: 10px;

}

.email-details-header div{
    display: inline-block;
}

.email-to-details{
    font-weight: 900;
}

.email-body{
    font-size: 1.2rem;
    /* max-width: 80%; */
}

.email-details-email-body-pre{
    overflow-x: auto;
            white-space: pre-wrap;
            word-wrap: break-word;
}