.email-list-menu{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eef0f2;
    min-height: 50px;
    max-width: 100vw-160px;
}

.email-list-menu-filters button{
    border: none;
}

.email-list-menu-sort button{
    border: none;
}


