.about {
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.about img {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
    margin: 20px;
}

.name-about {
    font-weight: bold;
}

.about-text {
    text-align: left;
    width: 300px;
}