

.home-icon {
    padding: 3rem;
}
.home-icon i {
    color: goldenrod;
}

.home-page {
    height: 100vh;
    background-image: url('./img/home-bg.jpg');
}

.home-page h1{
    text-align: center;
    padding-top: 15px;
}