body {
    text-align: center;
    font-family: sans-serif;

    margin: 0;
}

.home-icon {
    padding: 3rem;
}
.home-icon i {
    color: goldenrod;
}

.home-page {
    height: 100vh;
    background-image: url('/img/home-bg.jpg');
}